{% extends "layout.html" %} 
{% block title %}Home{% endblock %} 
<!-- content -->
{% block content %}
<div class="container-fluid">
    <div class="card mt-5 w-50 mx-auto bg-dark text-light border">
        <div class="card-body">
            <h5 class="card-title">Welcome to Amazoo</h5>
            <div class="card-text">
                <ul>
                <li>Browse for products</li>
                <li>Add them to cart </li>
                <li>Purchase and Grab em before they're gone</li>
                </ul>
            </div>
            <div class="card-subtitle lead text-center">
                (must be logged in to shop)
            </div>
        </div>
        <div class="card-footer text-center">
            {% if current_user.is_authenticated %}
            <a class="btn btn-danger btn-lg" class="nav-link" href="{{url_for('shop.shop_list')}}">Buy</a>
            {% else %}
            <a class="btn btn-danger btn-lg" class="nav-link" href="{{url_for('auth.login')}}">login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}