{% extends "layout.html" %}
{% block title %}Edit Company{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">Edit Company</div>
    <div>
        <form method="POST">
            {#
                generate fields with proper types for
                name (required)
                address (required)
                city (required)
                state/country (use the country_state_selector)
                zip (required)
                website (not required)
                and prefill the fields with loaded company data
                #}    
            <div class="form-group">
                <label for="name">Name (required)</label>
                <input type="text" class="form-control" id="name" name="name" required value="{{ company.name }}">
            </div>
            <div class="form-group">
                <label for="address">Address (required)</label>
                <input type="text" class="form-control" id="address" name="address" required value="{{ company.address }}">
            </div>
            <div class="form-group">
                <label for="city">City (required)</label>
                <input type="text" class="form-control" id="city" name="city" required value="{{ company.city }}">
            </div>
            {# use this for country/state selection #}
            {{country_state_selector(country=company.country, state=company.state)}}
            <div class="form-group">
                <label for="zip">Zip (required)</label>
                <input type="text" class="form-control" id="zip" name="zip" required value="{{ company.zip }}">
            </div>
            <div class="form-group">
                <label for="website">Website (optional)</label>
                <input type="url" class="form-control" id="website" name="website" value="{{ company.website }}">
            </div>
            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}